button{
border: 0;
background-color: transparent;
cursor: pointer;
}

.btn {
    padding: 7px 15px;
}

.btn.btn_main {
    color: aliceblue;
    background-color: rgb(126, 10, 228);
    border-radius: 5px;
    transition: all .33s ease-in-out ;
}
.btn.btn_main:hover {
    background-color: blue;
}

.btn.btn_outline {
    border: rgb(49, 41, 41) 1px solid;
    border-radius: 5px;
    transition: all .33s ease-in-out ;
/* Сырткы точкалар? */
}