.news_card_block {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.news_card {
    position: relative;
    width: calc(33% - 5px);
    min-width: 275px;
    max-width: 315px;
    border: 2px solid rgb(40, 17, 17);
    border-radius: 7px;
    padding: 15px;
    z-index: 1;
}

.news_card .news_card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}

.news_card .news_card_footer {
    margin-top: 15px;
    display: flex;
    gap: 10px;

}
.news_card_footer .news_card_button {
    width: 50%;
}