.logo-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #003366;
}

h1 {
    text-align: center;
    color: #0656a5
}

.logo-block img {
    width: 100px; 
    height: auto; 
}
body {
    text-align: left;
    margin-left: 20px; 
}


strong {
    display: block;
    margin-top: 15px;
    max-width: 500px;
}

a {
    display: block; 
    margin-top: 10px;
}

.card {
    background: rgb(75, 58, 157);
    padding: 3px;
    border-radius: 10px;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.cards .card {
    flex: 1 1 calc(33% - 20px); /* 3 карточки в ряд */
    max-width: 320px;
}
.card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    max-width: 100px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-img {
    width: 180px;
    height: 100px;
    border-radius: 10px;
}

.card-info {
    max-width: 3000px;
    text-align: left;
}

.card-info h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #0052a5;
}

